.container {
  background-color: rgba(#98335b, 0.05);
  margin-top: 3rem;
  width: 90vw;
  display: block;
  margin: 0 auto;

  &:last-child {
    margin-bottom: 7rem;
  }
  a {
    text-decoration: none;
    color: purple;

    &:hover {
      color: red;
    }
  }
  @media (min-width: 700px) {
    padding: 10rem;
  }
}

.title {
  font-size: 3rem;
}

.btn {
  align-self: bottom;
}
