.container {
  background-color: rgba(#98335b, 0.05);
  padding: 1rem;
  margin-top: 3rem;

  &:last-child {
    margin-bottom: 7rem;
  }
  a {
    text-decoration: none;
    color: purple;

    &:hover {
      color: red;
    }
  }
  @media (min-width: 700px) {
    padding: 10rem;
  }
}

.title {
  font-size: 3rem;
}

p {
  padding: 0 3rem 0 3rem;
}
.btn {
  align-self: bottom;
}
.embedVideo-container {
  width: 80vw;
  height: 40vh;
}
