.container {
  background-color: rgba(#98335b, 0.05);
  padding: 0;
  margin-top: 3rem;

  &:last-child {
    margin-bottom: 7rem;
  }
  a {
    text-decoration: none;
    color: purple;

    &:hover {
      color: red;
    }
  }
}

.title {
  font-size: 3rem;
}

p {
  padding: 0;
}
.btn {
  align-self: bottom;
}
