.haca1 {
  text-align: center;
  font-size: 3rem;
  color: #9c355a;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: -2rem;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 96vw;
}

.divdif {
  height: 3rem;
}

.image {
  @media (max-width: 900px) {
    margin-top: 5rem;
  }
}
